body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

input[type=text], input[type=password],input[type=date], select,option {
  width: 100%;
  padding: 15px;
  margin: 5px 5px 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

label{
    color:grey;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button,a {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  text-decoration:none;
}

button,a:hover {
  opacity:1;
}


.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
  
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.containerm{
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #333;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(222, 222, 222);
}

.half{
    display:flex;
    flex-direction: row;
justify-content: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
