.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  margin: 0.5rem;
  text-align: center;
  font-family: arial;
}

button {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 60%;
}

button:hover {
  opacity: 0.8;
}